.header-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;

    .header-controls {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
        padding: 5px 10px;

        .separator {
            flex: 1 1 auto;
        }

        .header-search {
            border: 0;
            font-size: 0.8rem;
            padding: 4px 8px;
            border-radius: 20px;
            color: var(--color);
            background-color: var(--bgColor);
            border: 1px solid transparent;

            &:focus {
                outline: none;
                border: 1px solid var(--color);
            }
        }

        .header-btn {
            cursor: pointer;
            border: 0;
            background-color: transparent;
            opacity: 0.6;
            margin: 0;
            padding: 0;

            &:hover {
                opacity: 1;

                .footer-btn-tooltip {
                    display: none;
                }
            }

            .header-btn-tooltip {
                position: fixed;
                display: none;
                top: var(--headerHeight);
                left: 50%;
                transform: translate(-50%, 0);
                color: var(--color);
                background-color: var(--bgColor);
                font-size: 0.8rem;
            }
        }
    }
}

.texttt {
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 5rem;
    line-height: 5rem;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
}
