


// pointer-events: none;

.picture-viewer-wrapper {
    position: relative;
    padding: var(--toolbarHeight) 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    .picture-container {
        grid-area: image;
        position: relative;
        max-width: 100%;
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
        flex: 1;
        max-height: calc(100% - 40px);

        .picture-loader {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            z-index: 2;
        }

        img.picture-el {
            height: auto;
            width: auto;
            max-height: 100%;
            max-width: 100%;
            transform: translateZ(0);
            transition: opacity ease-in-out .2s;
            opacity: 0;

            &.is-loaded {
                opacity: 1;
            }
        }
    }

    .picture-caption {
        height: var(--toolbarHeight);
        min-height: var(--toolbarHeight);
        display: flex;
        grid-area: caption;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;

        span {
            overflow: hidden;
            width: 100%;
            text-overflow: ellipsis;
        }
    }
}
