


// pointer-events: none;

.picture-viewer-wrapper {
    position: relative;
    width: calc(100% - 80px - 80px);
    padding:
        calc(80px - var(--toolbarHeight))
        80px
        0 //calc(80px - var(--toolbarHeight))
        80px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr var(--toolbarHeight) var(--toolbarHeight);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
        "image"
        "."
        "caption";

    .picture-caption {
        height: var(--toolbarHeight);
        display: flex;
        grid-area: caption;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;

        span {
            overflow: hidden;
            width: 100%;
            text-overflow: ellipsis;
        }
    }

    .picture-container {
        grid-area: image;
        position: relative;
        height: 100%;
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;

        .picture-loader {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            z-index: 2;
        }

        img.picture-el {
            max-height: 100%;
            max-width: 100%;
            transform: translateZ(0);
            transition: opacity ease-in-out .2s;
            opacity: 0;

            &.is-loaded {
                opacity: 1;
            }
        }
    }

    .picture-viewer-image-wrapper {
        flex: 1 1 auto;
        height: 100%;
        position: relative;
    }
}
