.toolbar-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;

    .toolbar-controls {

        .toolbar-btn {
            cursor: pointer;
            border: 0;
            background-color: transparent;
            opacity: 0.6;
            margin: 0;
            padding: 3px;

            &:hover {
                opacity: 1;
            }
        }
    }
}
