.folder-item-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    height: 70px;
    width: 270px;
    margin: 5px;
    padding: 5px;
    overflow: hidden;

    font-size: 1rem;
    font-weight: 400;
    box-shadow: none;
    cursor: pointer;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.2);
    border-image: initial;
    border-radius: 4px;
    text-decoration: none;
    transition: background 0.2s ease-out 0s, box-shadow 0.2s ease-out 0s;
    word-break: break-word;

    img {
        height: 24px;
        width: 24px;
        min-width: 24px;
        margin-right: 12px;
    }

    .item-title {
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        // white-space: pre;
        text-overflow: ellipsis;
        max-height: 100%;
        width: calc(260px - 24px - 10px);
    }
}
