.favicon-wrapper {
    height: var(--iconSize);
    width: var(--iconSize);
    display: flex;
    justify-content: center;
    align-items: center;

    .is-loading {
        .favicon-img {
            opacity: 0;
        }
    }

    .favicon-icon {

    }

    .favicon-img {
        width: auto;
        max-width: var(--iconSize);
        height: var(--iconSize);
        object-fit: cover;
    }
}
