.modal-content {
    position: absolute;
    z-index: 96;
    height: 100%;
    width: 100%;
    color: var(--color);
    transition: var(--modalTransition);
    display: flex;
    flex-direction: column;

    .modal-background {
        z-index: 97;
        background-color: var(--bgColor);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .modal-background-overlay {
        z-index: 98;
        background-color: var(--bgColorPanel);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &.modal-content-show {
        transform: translateY(calc(-100% - 20px));
    }

    &.modal-content-hide {
        transform: translateY(100%);
    }

    .modal-content-inner {
        z-index: 99;
        cursor: default;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    .modal-content-header {
        z-index: 99;
        height: var(--headerHeight);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        .modal-content-title {
            flex: 1;
            font-size: 1.5rem;
            padding: 0 10px;
        }

        .modal-close-btn {
            cursor: pointer;
            margin: 0;
            padding: 0;
            border: 0;
            background-color: transparent;
            transition: opacity linear .1s;
            z-index: 99;

            &:hover {
                opacity: 1;
            }

            &.modal-close-btn-show {
                opacity: 0.6;
            }

            &.modal-close-btn-hidden {
                opacity: 0;
            }
        }
    }
}
