.modal-overlay {
    cursor: zoom-out;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all ease .1s;
    z-index: 97;
}

.modal-content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all linear .2s;
    z-index: 98;
    background-color: var(--bgColor);
    color: var(--color);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);


    &.modal-content-show {
        // opacity: 1;
        transform: translateX(0); // scale(1);
    }

    &.modal-content-hide {
        // opacity: 0;
        transform: translateX(-100%); // scale(0);
    }

    .modal-content-inner {
        cursor: default;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    .modal-content-header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        .modal-content-title {
            flex: 1;
        }

        .modal-close-btn {
            cursor: pointer;
            // position: fixed;
            margin: 0;
            padding: 0;
            // top: 5px;
            // right: 5px;
            border: 0;
            background-color: transparent;
            transition: opacity linear .1s;
            z-index: 99;

            &:hover {
                opacity: 1;
            }

            &.modal-close-btn-show {
                opacity: 0.6;
            }

            &.modal-close-btn-hidden {
                opacity: 0;
            }
        }
    }
}