.Header-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;

    .Header-controls {

        .Header-btn {
            cursor: pointer;
            border: 0;
            background-color: transparent;
            opacity: 0.6;
            margin: 0;
            padding: 3px;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.texttt {
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 5rem;
    line-height: 5rem;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
}
