.dialog-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: all ease-in-out .2s;

    &.dialog-show {
        transform: scale(1);
        opacity: 1;

        .dialog-overlay {
            opacity: 1;
        }

        // .dialog-content {}
    }

    &.dialog-hide {
        transform: scale(0);
        opacity: 0;

        .dialog-overlay {
            opacity: 0;
        }

        // .dialog-content {}
    }

    .dialog-overlay {
        cursor: zoom-out;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        transition: opacity linear .1s;
        // background-color: rgba(0, 0, 0, .5);
    }

    .dialog-content {
        cursor: default;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 999;
        // padding: 20px;
        overflow: hidden;
    }

    &.closable-content {
        .dialog-content {
            cursor: zoom-out;
        }
    }
}